<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>CS799</display-name>
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>com.brenthepburn.cs799.ca.index</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>theme</servlet-name>
		<servlet-class>com.brenthepburn.cs799.ca.theme</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/CS799/index</welcome-file>
	</welcome-file-list>
</web-app>